html,
body,
#root,
.App,
.full-height {
  height: 100%;
}
body {
  background-color: #0E1622;
}
input {
  color: #000 !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  color: #fff !important;
}
